<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
	<title>爱创课堂</title>
<link href=".././admin/mobile/style.css?5b123bb5b19a34acd8ee" rel="stylesheet"></head>
<body>
	<!-- 容器 -->
	<div id="app"></div>
<script type="text/javascript" src=".././admin/mobile/lib.js?5b123bb5b19a34acd8ee"></script><script type="text/javascript" src=".././admin/mobile/main.js?5b123bb5b19a34acd8ee"></script></body>
</html>