<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<!-- 插值语法 -->
	<h1>hello <%=title%></h1>
<script type="text/javascript" src="static/js/demo.js"></script>
</body>
</html>