<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, width=device-width">
	<title></title>
<link href=".././static/dist/mobile/style.css?be488aa18cdc57502a81" rel="stylesheet"></head>
<body>
	<!-- 容器 -->
	<div id="app"></div>
<script type="text/javascript" src=".././static/dist/mobile/lib.js?be488aa18cdc57502a81"></script><script type="text/javascript" src=".././static/dist/mobile/main.js?be488aa18cdc57502a81"></script></body>
</html>