<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!-- 引入bootstrap -->
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css">
	<title><$=title$></title>
<link href=".././static/dist/pc/style.css?30fdec956d223d0905eb" rel="stylesheet"></head>
<body>
	<!-- 容器元素 -->
	<div id="app">
		<!-- css3 动画 -->
		<div class="loader"></div>
		<div class="loader-text">Installing <span id="loader_text">0.00</span>%</div>
	</div>
<script type="text/javascript" src=".././static/dist/pc/lib.js?30fdec956d223d0905eb"></script><script type="text/javascript" src=".././static/dist/pc/main.js?30fdec956d223d0905eb"></script></body>
</html>